{% extends "base.html" %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-3">

                {% if not billing_profile %}

                    <div class='row text-center'>
                        <div class=''>
                            <p class='lead'>Login</p>
                            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
                        </div>
                        <div class=''>
                            Continue as Guest
                            {% url "guest_register" as guest_register_url %}
                            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
                        </div>
                    </div>

                {% else %}

                    <form>
                      <script src="https://js.paystack.co/v1/inline.js"></script>
                      <button type="button" onclick="payWithPaystack()"> Pay </button>
                    </form>
                {% endif %}

                {% block javascript %}

                    <!-- place below the html form -->
                    <script>
                      function payWithPaystack(){
                        var handler = PaystackPop.setup({
                          key: 'paste your key here',
                          email: 'customer@email.com',
                          amount: 10000,
                          ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                          metadata: {
                             custom_fields: [
                                {
                                    display_name: "Mobile Number",
                                    variable_name: "mobile_number",
                                    value: "+2348012345678"
                                }
                             ]
                          },
                          callback: function(response){
                              alert('success. transaction ref is ' + response.reference);
                          },
                          onClose: function(){
                              alert('window closed');
                          }
                        });
                        handler.openIframe();
                      }
                    </script>

                {% endblock javascript %}

            </div>
        </div>
    </div>

{% endblock %}