{% extends "base.html" %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock navbar %}


{% block content %}

    <div class="container">

        <div class='row'>
            <div class='col-12 my-3'>
                <h1>Insurance Plan View History</h1><hr/>
            </div>
            {% for obj in object_list %}
                {{ forloop.counter }}
                {% include 'insuranceplans/snippets/card.html' with instance=obj.content_object %}
            {% empty %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                            <div class="slider-text-inner">
                                <p>Empty... please click on 'PLANS' at the menu bar to buy a health insurances plan</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <br>
    <br>

{% endblock %}