<div class="row">
    <div class="col-md-12 text-center">
        <div class="block-27">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="{{ page_obj.previous_page_number }}" tabindex="-1">&lt;</a></li>
                {% endif %}
                <li>page</li>
                <li class="active"><span>{{ page_obj.number }}</span></li>
                <li>of</li>
                <li class="active"><span>{{ page_obj.paginator.num_pages }}</span></li>
                {% if page_obj.has_previous %}
                    <li><a href="{{ page_obj.next_page_number }}">&gt;</a></li>
                    <li><a href="{{ page_obj.paginator.num_pages }}">&gt;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>