{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="" />
	  <meta name="keywords" content="" />
	  <meta name="author" content="" />
      <title>Talisa</title>
      {% include 'base/css.html' %}
      {% block base_head %}{% endblock %}
      <!-- Facebook and Twitter integration -->
	  <meta property="og:title" content=""/>
	  <meta property="og:image" content=""/>
	  <meta property="og:url" content=""/>
	  <meta property="og:site_name" content=""/>
	  <meta property="og:description" content=""/>
      <meta name="twitter:title" content="" />
	  <meta name="twitter:image" content="" />
	  <meta name="twitter:url" content="" />
	  <meta name="twitter:card" content="" />

	  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

	  <!-- Animate.css -->
	  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
	  <!-- Icomoon Icon Fonts-->
	  <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	  <!-- Bootstrap  -->
	  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	  <!-- Magnific Popup -->
	  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	  <!-- Owl Carousel  -->
	  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	  <!-- Flexslider  -->
	  <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	  <!-- Flaticons  -->
	  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
	  <!-- Theme style  -->
	  <link rel="stylesheet" href="{% static 'css/style.css' %}">

	  <!-- Modernizr JS -->
	  <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	  <!-- FOR IE9 below -->
	  <!--[if lt IE 9]>
	    <script src="{% static 'js/respond.min.js' %}"></script>
	  <![endif]-->
    </head>
    <body>
      <div class="colorlib-loader"></div>

      <div id="page">
          <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="colorlib-logo"><a class="navbar-brand" href="/">
                                            <img class="img-responsive" src="https://talisa-hmo.s3.eu-west-2.amazonaws.com/images/Talisa_logo1.png" alt="Talisa HMO" style="width:150px;">
                                        </a></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="num">
                                            <span class="icon"><i class="icon-phone"></i></span>
                                            <p><a href="#">+234-8120796985</a><br><a href="#">+234-8023124880</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="loc">
                                            <span class="icon"><i class="icon-location"></i></span>
                                            <p><a href="#">16A, Femi Okunnu Estate Phase 2, Jakande Lekki Lagos Nigeria</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% block navbar %} {% endblock navbar %}
            </div>
          </nav>

          {% block aside_bar %} {% endblock aside_bar %}

          {% if messages %}
              <div class="alert alert-success messages">
                    {% for message in messages %}
                        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{ message }}<br/>
                        </span>
                    {% endfor %}
              </div>
          {% endif %}
          {% block content %}{% endblock content %}

          <footer id="colorlib-footer" role="contentinfo">
            <div class="overlay"></div>
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4 colorlib-widget">
                        <h3>Head Office</h3>
                        <hr>
                        <ul class="colorlib-footer-links">
                            <li>291 South 21th Street, <br> Suite 721 Nigeria</li>
                            <li><a href="tel://1234567920"><i class="icon-phone"></i> + 1235 2355 98</a></li>
                            <li><a href="mailto:info@yoursite.com"><i class="icon-mail"></i> info@yoursite.com</a></li>
                            <li><a href="http://luxehotel.com"><i class="icon-location4"></i> yourwebsite.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 colorlib-widget">
                        <h3>Useful Links</h3>
                        <hr>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'insuranceplans:list' %}">Plans</a>
                                <li><a href="{% url 'articles:article_list' %}">News</a></li>
                            </ul>
                        </p>
                    </div>

                    <div class="col-md-2 colorlib-widget">
                        <h3>Support</h3>
                        <hr>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="{% url 'contact' %}">Help &amp; Support</a></li>
                            </ul>
                        </p>
                    </div>

                    <div class="col-md-4 colorlib-widget">
                        <h3>Our Days/Office Working Hours</h3>
                        <hr>
                        <ul class="colorlib-footer-links">
                            <li>Mon-Thu: 9:30 – 21:00</li>
                            <li>Fri: 6:00 – 21:00</li>
                            <li>Sat: 10:00 – 15:00</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Talisa HMO Built With <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.geetechlab.com" target="_blank"> By GeetechLab & Minsystems</a></small>
                        <small class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="https://www.pexels.com/" target="_blank">Pexels</a></small>
                    </p>
                </div>
            </div>
        </footer>
      </div>

      <div class="gototop js-top">
          <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
      </div>

      {% include 'base/js.html' %}
      {% block javascript %}
      {% endblock javascript %}

    </body>
  </html>